/*ENTIRE PAGE - DEFAULTS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
  font-family: 'Black And White Picture', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
}

body {
  height: 100vh;
  background: #0099e0;
}

.birds{
  position: absolute;
  z-index: -1;
}

#title {
  font-size: 4rem;
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  margin-left: 25px;
  /* border: 1px solid #ddd; */
  width: 50px;
}

.profile-picture:hover {
  border: 1px solid white;
}

input {
  border-radius: 5px;
  /* transition: 10s; */
  height: 2rem;
  width: 30%;
  margin: 5%;
  border: 1px lightblue solid;
}

input {
  transition: 2s;
  animation: infinite 1400ms rotate-color;
}

@keyframes rotate-color {

  0%,
  100% {
    color: lightblue
  }

  50% {
    color: purple
  }
}

.hide {
  size: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}



/*CLUE BOXES*/
#game-board {
  height: 85%;
  min-height: 500px;
  border: 1px solid green;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.category {
  background-color: pink;
  height: 100%;
  border: 1px solid red;
}

.clue {
  height: 20%;
  border: 1px solid blue;
}

.wager section {
  display: flex;
  justify-content: space-around;
  margin: 2px;
}

.number {
  background: lightgoldenrodyellow;
}

.player-area {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: green;
}

.player-0 {
  color: white;
}